# build output
dist/
.output/
.astro/
./src/pages/blog/.obsidian/

node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
src/pages/blog/.obsidian

.env
.env.production

.DS_Store

