---
import style from '../components/style.astro';
import '../../styles/global.css';
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vaimer's blog</title>
</head>
<body>
    this is blogs page    
</body>
</html>

