---
import '../../styles/global.css';
import BlogListItem from "../../components/BlogListItem.astro";

let posts = await Astro.glob("../blog/*.md");


---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vaimer's blog</title>
</head>
<body>
    <div class="main-title"></div>
    <div class="blogs-container">
        {posts.map(post => (
            <BlogListItem
                title={post.frontmatter.title}
                date={post.frontmatter.date}
                description={post.frontmatter.description}
            />
        ))}
    </div>
</body>
</html>



<style>

body {
    background-color: #222;
}

</style>
